@import "../../../scss/variables.scss";

.PageFooter {
  display: block;
  justify-content: space-between;
  border-top: 1px solid $color-light-gray;

  padding: 0 40px;
}

.PageFooter-Wrapper {
  display: flex;
  justify-content: space-between;

  height: 65px;

  @media (max-width: $laptop-width) {
    margin: 0 20px;
  }

  @media (max-width: $laptop-width) {
    display: block;
    align-items: center;

    text-align: center;
  }
}

.PageFooter-Copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  color: $color-gray;

  font-size: 1.2rem;
}
