$full-laptop-width: 1370px;
$laptop-width: 1088px;
$tablet-width: 768px;
$mobile-width: 425px;

$font-family: Arial, Helvetica, sans-serif;

$color-white: #fff;
$color-light-gray: #f7f7f7;
$color-dark-grey: #333;
$color-gray: #858585;

$color-button-success: #ffd93e;
$color-button: #e5e5e5;
$color-range-control: #a1a1a1;

$color-dark-orange: #ffcd00;
$color-red: #c00;
$color-red-critical: #db5341;
$color-block: #fafafa;
$color-block-hover: #f3f3f3;
